--- 
title: Blog
description: Blog of Dave Clark, a British software developer. Filled with tips, guides and tutorials.
---
%section{:id => 'content', :class => 'blog'}
	- blog_articles.each do |item|
		.blog-entry
			%aside
				.date
					.month= get_post_month(item)
					.day= get_post_day(item)
			%article
				%h2= link_to item[:title], item.path
				= find_and_preserve do
					= get_post_start(item)