--- 
title: Blog
---

<section id='content' class='blog'>
	<% sorted_articles.each do |item| %>
		<div class='blog-entry'>
			<aside>
				<div class='date'>
					<div class='month'><%= get_post_month(item) %></div>
					<div class='day'><%= get_post_day(item) %></div> 
				</div>
			</aside>
			<article>
				<h3><a href='<%= item.path %>'><%= item[:title] %></a></h3>
				<%= get_post_start(item) %>
			</article>
		</div>
	<% end %>
</section>