!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    / - unless current_article.nil?
    /   %meta{:name => 'description', :content => current_article.description}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    - if current_article.nil?
      %title= "#{current_page.data.title} | clarkdave.net"
    - else
      %title= current_article.title + ' | clarkdave.net'
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro|Source+Serif+Pro'}
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'modernizr'
    %script
      :plain
        var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-28879115-1']);_gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    %section{:id => 'page', :class => 'container'}
      %header
        %a{:href => '/', :title => 'clarkdave.net'}
          %h1 clarkdave.net
        %nav
          %ul
            %li= link_to 'blog', '/', :class => active_page?('blog') ? 'active' : ''
            %li= link_to 'about', '/about', :class => active_page?('about') ? 'active' : ''
            %li= link_to 'contact', '/contact', :class => active_page?('contact') ? 'active' : ''
        %aside
          %a{:class => 'github', :href => 'https://github.com/clarkdave', :title => 'clarkdave on GitHub'}
          %a{:class => 'linkedin', :href => 'https://uk.linkedin.com/in/clarkdavedotnet', :title => 'clarkdave on LinkedIn'}
          %a{:class => 'twitter', :href => 'https://twitter.com/clarkdave', :title => 'clarkdave on Twitter'}
      = yield
